# Core data
pandas>=2.0
numpy>=1.24

# Visualization
matplotlib>=3.7
seaborn>=0.12

# Machine learning
scikit-learn>=1.3

# Survival analysis
lifelines>=0.27

# Notebook
jupyter>=1.0
ipykernel>=6.0

# Utilities
tqdm>=4.65        # progress bars for long training loops
joblib>=1.3       # model saving (already in sklearn, but good to pin)

#for ECE 
scipy>=1.11